# =========================
# Node / Angular
# =========================
node_modules/
dist/
.angular/
.env

# =========================
# .NET
# =========================
bin/
obj/

# =========================
# Local database files
# =========================
*.db
*.db-shm
*.db-wal

# =========================
# IDE / OS
# =========================
.vscode/
.vs/
*.user
*.suo
.DS_Store
UpgradeLog.htm

# =========================
# Logs
# =========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*