# =========================
# Node / Angular
# =========================
node_modules/
dist/
.angular/
.env

# =========================
# .NET
# =========================
bin/
obj/

# =========================
# IDE / OS
# =========================
.vscode/
*.user
*.suo
.DS_Store

# =========================
# Logs
# =========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*